# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
ENV/
env/

# Logs and temp
*.log
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db

# PDFs and resumes
resumes/*.pdf

# Streamlit
.streamlit/
